/* Application Header Styles */

.esriCTApplicationHeader
{
    border-bottom: 1px solid #007ac2;
}

.esriCTApplicationHeaderTextTD, .esriCTResultColor, .esriCTdivInfoTotalFeatureCount, .esriCTdivInfoFeatureCount, .esriCTAOILink, .esriCTHeaderPanelContent, .BasemapToggle .basemapTitle
{
    color: #007ac2 !important;
}


/* Address container Styles */

.esriCTAddressContent, .esriCTDivAppHolder, .esriCTDivShareContainer
{
    border-right: 1px solid #007ac2;
    border-left: 1px solid #007ac2;
    border-bottom: 1px solid #007ac2;
}

/* Share Container Styles */


.esriCTTxtShare, .BasemapToggle .basemapImage
{
    border: 1px solid #007ac2;
}


/* Slider */

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    background-color: #007ac2 !important;
}

.HomeButton .home, .HomeButton .home:hover
{
    background-color: #007ac2;
}

/* End of Slider */

/* Basemap */

.BasemapToggle .toggleButton
{
    border: 2px solid #007ac2 !important;
}

.esriCTHeaderReportContainer
{
    border-left: 1px solid #007ac2;
    border-right: 1px solid #007ac2;
}

.esriCTAreaOfInterestTabSelected
{
    color: #007ac2;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #fff;
}

.esriCTAreaOfInterestTab
{
    border-bottom: 1px solid #007ac2;
    color: #007AC2;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #007ac2;
}

.esriCTReportTabSelected
{
    border-bottom: 1px solid #007ac2;
    color: #007ac2;
    border-left: 1px solid #007ac2;
    border-right: 1px solid #FAFAFA;
}

.esriCTReportTab
{
    color: #007ac2;
    border-left: 1px solid #fff;
    border-right: 1px solid #FAFAFA;
}

.esriCTSearchButton
{
    background-color: #007ac2 !important;
    color: #fff;
}

/* End of AOI Panel */

/* Splash Screen*/

.esriCTCustomButton, .esriCTBrowseButton, .esriCTUploadButton
{
    background: #007ac2;
}

.customButton
{
    color: #fff;
    background: #007ac2;
}

/* End of Splash Screen */

/* CSS for shadow effect*/

.esriCTBoxShadow
{
    border: 2px solid #007ac2;
}

.dijitSliderBumperH, .dijitSliderBarH
{
    border-color: #fff;
    background-color: #007ac2;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper
{
    border-color: #fff;
    background-color: #007ac2;
}

.claro .dijitSlider .dijitSliderRemainingBarH, .claro .dijitSlider .dijitSliderRightBumper
{
    border-color: #fff;
    background-color: #ddd;
}


/*Start of Infowindow style*/

.esriCTInfoWindow, .legenboxInner
{
    border: 1px solid #007ac2;
}

.esriCTLinkContainer, .esriCTInfoPanel
{
    border-top: 1px solid #007ac2;
}

.esriCTReportHeader
{
    color: #007ac2;
    border-bottom: 1px solid #DFDFDF;
}

.esriCTSearchIcon
{
    background-image: url("../images/searchBtn.png") !important;
}

.esriCTHeaderSearchSelected
{
    background-image: url("../images/img2X/search-select@2X.png") !important;
}

.esriCTImgSocialMediaSelected
{
    background-image: url("../images/img2X/share-select@2X.png") !important;
}

.esriCTReportsImgSelected
{
    background-image: url("../images/reportsSelected.png");
}

.esriCTFacebook
{
    background-image: url("../images/img2X/img_facebook@2x.png") !important;
}

.esriCTTwitter
{
   background-image: url("../images/img2X/img_twitter@2x.png") !important;
}

.esriCTEmail
{
   background-image: url("../images/img2X/img-email@2x.png") !important;
}

.esriCTEmbedding
{
    background-image: url('../images/embedding.png');
}

.esriCTLeftArrow
{
    background-image: url('../images/left.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.esriCTRightArrow
{
    background-image: url('../images/right.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.esriCTInfoWindowRightArrow
{
    background: url("../images/rightArrowBlue.png");
}

.esriCTInfoWindowLeftArrow
{
    background: url("../images/leftArrowBlue.png");
}

.esriCTDivTriangle
{
    background-image: url("../images/bottomArrow.png");
}

.drawPoint
{
    background-image: url("../images/point.png");
}

.drawDrawing
{
    background-image: url("../images/draw.png");
}

.drawRectangle
{
    background-image: url("../images/rectangle.png");
}

.drawPolygon
{
    background-image: url("../images/draw-polygon.png");
}

.select-on-map
{
    background-image: url("../images/select-on-map.png");
}

.esriCTMapClickPoint
{
    background-image: url("../images/pointMapClick.png");
}

.dijitSliderImageHandleH
{
    background-image: url('../images/thumbBlue.png') !important;
}

.claro .dijitSliderProgressBarH .dijitSliderThumbHover
{
    background-image: url('../images/thumbBlue.png') !important;
}

.claro .dijitDialogTitleBar
{
    background-color: #007ac2 !important;
}
.claro .dijitDialog
{
    border: 1px solid #007ac2 !important;
    box-shadow: none !important;
}
.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode
{
    background-color: #007ac2 !important;
    color: #fff !important;
}
.claro .dijitDialogCloseIcon
{
    background: url("../images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.dijitDialogTitle
{
    color: #fff !important;
}
.esriCTDiv
{
    color: #007ac2;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
{
    .esriCTHeaderSearchSelected
    {
        background-image: url("../images/locateSelected@2x.png");
    }

    .esriCTImgSocialMediaSelected
    {
        background-image: url("../images/shareSelected@2x.png");
    }

    .esriCTReportsImgSelected
    {
        background-image: url("../images/reportsSelected@2x.png");
    }
    .esriCTFacebook
    {
        background-image: url("../images/facebook@2x.png") !important;
    }

    .esriCTTwitter
    {
        background-image: url("../images/twitter@2x.png") !important;
    }

    .esriCTEmail
    {
        background-image: url("../images/email@2x.png") !important;
    }

    .esriCTEmbedding
    {
        background-image: url('../images/embedding@2x.png') !important;
    }
}
