<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
		<!-- For additional information regarding the proxy, please see https://github.com/Esri/resource-proxy
		-->
	<!-- Examples
		<serverUrl url="http://gisserver:6080/arcgis/rest/services/" 
		   accessToken="rnTUt05c4LUkGU_DaKlfa-scr1Tl22vSzLVAxYlcbbqUBiwQoCsk0LvfIX3_6tL4emZCszCVEbSahb6EqYngLgkILdgjO37a3LIw6hYLb8g676IWbuHqyiVdHXVgEsNn"
           tokenParamName="token"
		   matchAll="true">
		</serverUrl>
		<serverUrl url="http://www.arcgis.com/sharing/rest/"
           oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
           clientId="jcgbkcZCaUWMGJtA"
           clientSecret="55149a14e4bb489dbbfab14d8cc7e16e"
		   matchAll="true">
		</serverUrl>
		<serverUrl url="https://api-ssl.bitly.com/v3/shorten"
           matchAll="true"
           accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
           tokenParamName="access_token"
           rateLimit="50"
           rateLimitPeriod="10">
		</serverUrl>   
	-->
	  
	  
    <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
        matchAll="true"
        accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
        tokenParamName="access_token"
        rateLimit="50"
        rateLimitPeriod="10">
    </serverUrl>  
    
	<serverUrl url="http://services.arcgisonline.com/"
        matchAll="true">
    </serverUrl>
    
	<serverUrl url="http://www.arcgis.com/sharing/rest/" 
        matchAll="true">
    </serverUrl>
    
	<serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/services/" 
		matchAll="true">
    </serverUrl>
    
	<serverUrl url="http://54.203.249.87/arcgis/rest/services/" 
		matchAll="true">
    </serverUrl>
    
        <serverUrl url="http://52.26.253.224/arcgis/rest/services/" 
		matchAll="true">
    </serverUrl>
    
	<serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/services/" 
        matchAll="true">
    </serverUrl>
    
	<serverUrl url="http://geocode.arcgis.com/arcgis/rest/services/" 
		matchAll="true">
	</serverUrl>
	
	</serverUrls>
 
</ProxyConfig>
